
@{
    ViewBag.Title = "OtoSatinAl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Session["bildirim"] != null)
{
    <div class="alert alert-info row" role="alert">@Session["bildirim"]</div>
    Session["bildirim"]= null;
}

<div class="row">
    <div class="mb-6">
        <form class="needs-validation" action="/Home/ActionOtoSatinAL" method="post">
            <div class="row">

                <div class="col-md-12 mb-3">
                    <label for="country">Ürün Seçin</label>
                    <select class="custom-select d-block w-100" id="country" name="urun" required>
                        <option value="">Choose...</option>
                        <option value="buğday">buğday</option>
                        <option value="arpa">arpa</option>
                        <option value="yulaf">yulaf</option>
                        <option value="pamuk">pamuk</option>
                    </select>

                    <div class="invalid-feedback">
                        geçerli bir şey seçin
                    </div>
                </div>

                <div class="col-md-12 mb-3">
                    <label for="lastName">miktar</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" name="adet" value="" required>
                    <div class="invalid-feedback">
                        Valid last name is required.
                    </div>
                </div>

                <div class="col-md-12 mb-3">
                    <label for="lastName">Alış Fiyatı</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" name="fiyat" value="" required>
                    <div class="invalid-feedback">
                        Valid last name is required.
                    </div>
                </div>
            </div>

            <hr class="mb-4">

            <button class="btn btn-primary btn-lg btn-block" type="submit">Satın al</button>
        </form>
    </div>

    <div class="mb-6">
        @if (ViewBag.urunSiparisleri != null)
        {
            <h4>Spiraişler</h4>
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Ürün</th>
                        <th>Miktar</th>
                        <th>Fiyat</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.urunSiparisleri)
                    {
                        <tr>
                            <th>@item.urun</th>
                            <th>@item.fiyat</th>
                            <th>@item.adet</th>
                        </tr>
                    }

            </table>
        }
    </div>
</div>
<div class="row">

</div>
